[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
xgboost = "*"
statsmodels = "*"
tensorflow = "*"
scikit-image = "*"
opencv-python = "*"
cifar10 = "*"
mnist = "*"
seaborn = "*"
hvplot = "*"
imbalanced-learn = "*"
scikit-learn = "==1.4.2"

[dev-packages]

[requires]
python_version = "3.12"
